.textBanner {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Playball', cursive;
  z-index: 20;
}

@media screen and (max-width: 600px) {
  .textBanner {
    left: 50%;
    bottom: -50px;
    font-size: 13px;
    font-weight: 600;
  }
}