@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Playball&display=swap');
@font-face {
  font-family: Airstrike Academy;
  src: url(/fonts/AirstrikeAcademy.ttf);
}

.table :where(tbody th, tbody td) {
  background-color: #2c3647;
}

.card {
  overflow: hidden;
  border-radius: var(--rounded-box, 1rem);
}

.card:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

html {
  color: #fff;
  /* font-family: 'Alata'; */
  scroll-behavior: smooth;
}

#banner-dashboard .slick-list {
  border-radius: 1rem;
}

#banner-dashboard .slick-dots li button:before {
  color: #fff !important;
}

#banner-dashboard .slick-dots {
  bottom: 1rem;
}

.d-tree-container {
  list-style: none;
  padding: 0;
}


.d-tree-toggler.active {
  transform: rotate(45deg);
}

.col-lg-8 {
  flex: 0 0 90%;
  max-width: 90%;
}