@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Playball&display=swap');
@font-face {
  font-family: Airstrike Academy;
  src: url(/fonts/AirstrikeAcademy.ttf);
}

html {
  color: #fff;
  font-family: 'Alata';
}