@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Playball&display=swap');
@font-face {
  font-family: Airstrike Academy;
  src: url(/fonts/AirstrikeAcademy.ttf);
}

.table :where(tbody th, tbody td) {
  background-color: #2c3647;
}

/* .table-zebra tbody tr:nth-child(even) th, .table-zebra tbody tr:nth-child(even) td {
  background-color: #253042;
} */

html {
  color: #fff;
  font-family: 'Alata';
  scroll-behavior: smooth;
}

.d-tree-container {
  list-style: none;
  padding: 0;
}

.d-tree-node {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 4.25rem;
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}

.col-lg-8 {
  flex: 0 0 90%;
  max-width: 90%;
}